node_modules/
npm-debug.log
.env

*.tar
**/Dockerfile~
.dockerignore

logs/
*.log

.DS_Store

.vscode/

*.yaml~
*.yml~

.github/workflows/*.bak
.github/workflows/*.tmp


k8s/prometheus/*.bak
k8s/grafana/*.bak

.kube/
.minikube/
